$w100: 100px;



.header {
    display: block;

    &-logo {
        text-align: center;

        &__image {
            width: 100px;
        }

        &__title {
            font-weight: bold;
            width: w100;
        }
    }

    &-menu {
        padding: 10px;

        &__list{ 
            margin: 0;
        }
        &__item {
            color: black;

            &.active {
                display: block;
            }
        }
    }


}